
      .bg-full {
        /* background-image: url("../background.png"); */
        background-size: cover;
        background-repeat: no-repeat;
      }
      .circle-container {
        position: relative;
        width: 600px;
        height: 600px;
      }
      .circle-image {
        position: absolute;
        width: 200px;
        height: 200px;
        transform: translate(-50%, -50%);
        transition: transform 0.3s ease;
      }
      .circle-image:hover {
        transform: translate(-50%, -50%) scale(1.1);
        cursor: pointer;
      }
      a {
        text-align:center;
        display:block;
        font-size: x-large;
        }